In [372]:
import pandas as pd 
from pandas import ExcelWriter
from pandas import ExcelFile
import config
db_name = 'emissions_modelling'
import mysql.connector

In [98]:
df = pd.read_excel('wgidataset (1).xlsx', sheetname='Political StabilityNoViolence')

/Users/kylebaranko/anaconda3/envs/learn-env/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [99]:
df = df.drop(df.index[0:11])
df.head()

,Political Stability and Absence of Violence/Terrorism,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,1996,1996,1996,1996,1996,1996,1998,1998,...,2017,2017,2017,2017,2018,2018,2018,2018,2018,2018
13,Country/Territory,Code,Estimate,StdErr,NumSrc,Rank,Lower,Upper,Estimate,StdErr,...,NumSrc,Rank,Lower,Upper,Estimate,StdErr,NumSrc,Rank,Lower,Upper
14,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,95.7143,80,99.5238,1.36612,0.253446,3,95.7143,81.9048,99.5238
15,Andorra,ADO,1.17016,0.613507,1,89.3617,52.1277,100,1.18364,0.575733,...,2,97.1429,79.5238,100,1.42543,0.297851,2,97.619,81.9048,99.5238

In [100]:
df[['Political Stability and Absence of Violence/Terrorism', 'Unnamed: 104']]

    Political Stability and Absence of Violence/Terrorism Unnamed: 104
11                                                 NaN             NaN
12                                                 NaN            2016
13                                   Country/Territory        Estimate
14                                               Aruba          1.2842
15                                             Andorra         1.41342
16                                         Afghanistan        -2.67105
17                                              Angola       -0.315899
18                                            Anguilla         1.31534
19                                             Albania        0.344645
20                       Netherlands Antilles (former)             NaN
21                                United Arab Emirates        0.564749
22                                           Argentina        0.204626
23                                             Armenia       -0.662264
24                                      American Samoa         1.19324
25                                 Antigua and Barbuda        0.878607
26                                           Australia         1.04796
27                                             Austria        0.909639
28                                          Azerbaijan       -0.803879
29                                             Burundi        -1.97072
30                                             Belgium        0.441367
31                                               Benin     -0.00202717
32                                        Burkina Faso       -0.867376
33                                          Bangladesh        -1.26194
34                                            Bulgaria       0.0773333
35                                             Bahrain       -0.793426
36                                        Bahamas, The        0.975419
37                              Bosnia and Herzegovina       -0.397839
38                                             Belarus        0.142281
39                                              Belize       0.0606221
40                                             Bermuda         0.99967
..                                                 ...             ...
198                                               Togo       -0.172354
199                                           Thailand       -0.988581
200                                         Tajikistan        -0.77776
201                                       Turkmenistan       -0.189693
202                                        Timor-Leste      -0.0105038
203                                              Tonga        0.917815
204                                Trinidad and Tobago        0.286352
205                                            Tunisia        -1.14133
206                                             Turkey        -2.00906
207                                             Tuvalu         1.41342
208                                      Taiwan, China        0.925664
209                                           Tanzania       -0.440995
210                                             Uganda       -0.715323
211                                            Ukraine        -1.85648
212                                            Uruguay         1.06258
213                                      United States        0.402303
214                                         Uzbekistan       -0.272571
215                     St. Vincent and the Grenadines         1.01893
216                                      Venezuela, RB         -1.0246
217                              Virgin Islands (U.S.)         0.99967
218                                            Vietnam        0.233592
219                                            Vanuatu        0.513114
220                                 West Bank and Gaza         -1.9764
221                            Jersey, Channel Islands         1.31867
222                                        Yemen, Rep.        -2.79488
223                                             Serbia        0.140154
224                                       South Africa       -0.141504
225                                   Congo, Dem. Rep.        -2.23462
226                                             Zambia        0.142808
227                                           Zimbabwe       -0.619938

[217 rows x 2 columns]

In [101]:
df2016 = df[['Political Stability and Absence of Violence/Terrorism', 'Unnamed: 104']].copy()

In [102]:
new_header = df2016.iloc[1] #grab the first row for the header
df2016 = df2016[2:] #take the data less the header row
df2016.columns = new_header

In [103]:
new_header = df2016.iloc[0] #grab the first row for the header
df2016 = df2016[1:] #take the data less the header row
df2016.columns = new_header

In [104]:
df_stability = df2016

In [105]:
df_regulation = pd.read_excel('wgidataset (1).xlsx', sheetname='RegulatoryQuality')

/Users/kylebaranko/anaconda3/envs/learn-env/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [106]:
df_regulation.head(20)

,Regulatory Quality,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121
0,Reflects perceptions of the ability of the gov...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Legend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Estimate,Estimate of governance (ranges from approximat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,StdErr,Standard error reflects variability around the...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NumSrc,Number of data sources on which estimate is based,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Rank,Percentile rank among all countries (ranges fr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Lower,Lower bound of 90% confidence interval for gov...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Upper,Upper bound of 90% confidence interval for gov...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,The Worldwide Governance Indicators (WGI) are ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,1996,1996,1996,1996,1996,1996,1998,1998,...,2017,2017,2017,2017,2018,2018,2018,2018,2018,2018
13,Country/Territory,Code,Estimate,StdErr,NumSrc,Rank,Lower,Upper,Estimate,StdErr,...,NumSrc,Rank,Lower,Upper,Estimate,StdErr,NumSrc,Rank,Lower,Upper
14,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,84.1346,72.1154,94.7115,0.853144,0.364137,2,77.8846,62.0192,90.3846
15,Andorra,ADO,1.26644,0.38636,1,88.0435,69.5652,98.913,1.3007,0.451397,...,1,85.5769,68.75,98.0769,1.18792,0.494027,1,85.0962,65.8654,98.5577
16,Afghanistan,AFG,-2.09033,0.38636,1,1.63043,0,5.97826,-2.08726,0.451397,...,9,6.73077,3.36538,13.4615,-1.13263,0.193525,9,10.5769,6.25,19.2308
17,Angola,AGO,-1.41535,0.311747,4,7.6087,1.63043,20.1087,-1.68966,0.269264,...,9,12.5,6.73077,23.0769,-0.999813,0.178009,9,12.9808,7.69231,24.0385
18,Anguilla,AIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,77.8846,57.2115,91.8269,0.819468,0.494027,1,77.4038,56.25,93.2692
19,Albania,ALB,-0.474402,0.327361,4,30.4348,15.7609,57.6087,-0.173049,0.298183,...,9,62.0192,52.4038,71.1538,0.28171,0.20769,8,63.4615,50.9615,73.0769

In [107]:
df_regulation = df_regulation.drop(df_regulation.index[0:12])
df_regulation.head()

,Regulatory Quality,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121
12,NaN,NaN,1996,1996,1996,1996,1996,1996,1998,1998,...,2017,2017,2017,2017,2018,2018,2018,2018,2018,2018
13,Country/Territory,Code,Estimate,StdErr,NumSrc,Rank,Lower,Upper,Estimate,StdErr,...,NumSrc,Rank,Lower,Upper,Estimate,StdErr,NumSrc,Rank,Lower,Upper
14,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,84.1346,72.1154,94.7115,0.853144,0.364137,2,77.8846,62.0192,90.3846
15,Andorra,ADO,1.26644,0.38636,1,88.0435,69.5652,98.913,1.3007,0.451397,...,1,85.5769,68.75,98.0769,1.18792,0.494027,1,85.0962,65.8654,98.5577
16,Afghanistan,AFG,-2.09033,0.38636,1,1.63043,0,5.97826,-2.08726,0.451397,...,9,6.73077,3.36538,13.4615,-1.13263,0.193525,9,10.5769,6.25,19.2308

In [108]:
df_regulation[['Regulatory Quality', 'Unnamed: 104']].head()

   Regulatory Quality Unnamed: 104
12                NaN         2016
13  Country/Territory     Estimate
14              Aruba      1.34755
15            Andorra     0.871443
16        Afghanistan     -1.32769

In [109]:
df_reg = df_regulation[['Regulatory Quality', 'Unnamed: 104']].copy()

In [110]:
df_reg.head()

   Regulatory Quality Unnamed: 104
12                NaN         2016
13  Country/Territory     Estimate
14              Aruba      1.34755
15            Andorra     0.871443
16        Afghanistan     -1.32769

In [111]:
df_reg.iloc[2]

Regulatory Quality      Aruba
Unnamed: 104          1.34755
Name: 14, dtype: object

In [112]:
new_header = df_reg.iloc[1] #grab the first row for the header
df_reg = df_reg[2:] #take the data less the header row
df_reg.columns = new_header

In [113]:
df_reg.head()

13 Country/Territory  Estimate
14             Aruba   1.34755
15           Andorra  0.871443
16       Afghanistan  -1.32769
17            Angola  -1.00138
18          Anguilla  0.871443

In [156]:
len(df_reg)

214

In [157]:
len(df_stability)

214

In [116]:
df_stability.head()

13 Country/Territory  Estimate
14             Aruba    1.2842
15           Andorra   1.41342
16       Afghanistan  -2.67105
17            Angola -0.315899
18          Anguilla   1.31534

In [117]:
df_reg.rename(columns = {'Estimate':'Regulatory_Quality'}, inplace = True)

In [118]:
df_stability.rename(columns = {'Estimate':'Political_Stability'}, inplace = True)

In [165]:
df_voice = pd.read_excel('wgidataset (1).xlsx', sheetname='VoiceandAccountability')

/Users/kylebaranko/anaconda3/envs/learn-env/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [166]:
df_voice = df_voice.drop(df_voice.index[0:12])
df_voice.head()

,Voice and Accountability,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121
12,NaN,NaN,1996,1996,1996,1996,1996,1996,1998,1998,...,2017,2017,2017,2017,2018,2018,2018,2018,2018,2018
13,Country/Territory,Code,Estimate,StdErr,NumSrc,Rank,Lower,Upper,Estimate,StdErr,...,NumSrc,Rank,Lower,Upper,Estimate,StdErr,NumSrc,Rank,Lower,Upper
14,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,92.6108,73.8916,100,1.30593,0.249347,1,91.6256,77.3399,99.5074
15,Andorra,ADO,1.56322,0.291691,3,98.5,81.5,100,1.52876,0.291445,...,2,86.2069,72.9064,97.0443,1.06959,0.26739,2,83.2512,69.4581,95.5665
16,Afghanistan,AFG,-1.90854,0.261457,4,1,0,9.5,-2.0393,0.25609,...,10,22.1675,14.2857,24.6305,-0.99472,0.134822,10,20.6897,13.7931,25.6158

In [168]:
df_voice = df_voice[['Voice and Accountability', 'Unnamed: 104']]

In [169]:
len(df_voice)

216

In [170]:
new_header = df_voice.iloc[1] #grab the first row for the header
df_voice = df_voice[2:] #take the data less the header row
df_voice.columns = new_header

In [171]:
len(df_voice)

214

In [172]:
df_voice.rename(columns = {'Estimate':'Voice/Accountability'}, inplace = True)

In [173]:
df_law = pd.read_excel('wgidataset (1).xlsx', sheetname='RuleofLaw')

/Users/kylebaranko/anaconda3/envs/learn-env/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [175]:
df_law = df_law.drop(df_law.index[0:12])
len(df_law)

216

In [176]:
df_law = df_law[['Rule of Law', 'Unnamed: 104']]

In [178]:
new_header = df_law.iloc[1] #grab the first row for the header
df_law = df_law[2:] #take the data less the header row
df_law.columns = new_header

In [264]:
df_law.rename(columns = {'Estimate':'Rule_of_Law'}, inplace = True)
df_law.head()

13 Country/Territory Rule_of_Law
14             Aruba     1.26174
15           Andorra     1.57792
16       Afghanistan    -1.49819
17            Angola    -1.08732
18          Anguilla  -0.0845851

In [180]:
df_combo = df_reg.merge(df_stability, how='inner', on='Country/Territory')

In [181]:
df_combo = df_combo.merge(df_voice, how='inner', on='Country/Territory')

In [182]:
df_combo = df_combo.merge(df_law, how='inner', on='Country/Territory')

In [209]:
df_combo.rename(columns = {'Country/Territory':'Country'}, inplace = True)

In [211]:
df_combo.rename(columns = {'Voice/Accountability':'Accountability'}, inplace = True)

## df_combo.head()

In [255]:
cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    passwd = config.passwd,
    database = db_name
)
cur = cnx.cursor()

In [228]:
tables_world_bank = {}
tables_world_bank['world_bank_index'] = (
    """CREATE TABLE world_bank_index (
       Country varchar(60),
       Regulatory_Quality float,
       Political_Stability float,
       Accountability float,
       Rule_of_Law float,
       PRIMARY KEY (Country))"""
)

In [229]:
tables_world_bank['world_bank_index']

'CREATE TABLE world_bank_index (\n       Country varchar(60),\n       Regulatory_Quality float,\n       Political_Stability float,\n       Accountability float,\n       Rule_of_Law float,\n       PRIMARY KEY (Country))'

In [230]:
cur.execute(tables_world_bank['world_bank_index'])
cnx.commit()

In [238]:
len(df_combo)

214

In [240]:
df_combo = df_combo.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [248]:
len(df_combo)

202

In [249]:
def tuplify(df):
    tup_list = []
    
    for index, row in df.iterrows():
        tup = (row['Country'], 
               row['Regulatory_Quality'], 
               row['Political_Stability'], 
               row['Accountability'], 
               row['Rule_of_Law']
              ) # tuple length 7
        tup_list.append(tup)
    return tup_list

In [250]:
data = tuplify(df_combo)

In [251]:
data

[('Aruba',
  1.34755277633667,
  1.2841992378234863,
  1.2793039083480835,
  1.2617449760437012),
 ('Andorra',
  0.8714428544044495,
  1.4134193658828735,
  1.1765353679656982,
  1.5779246091842651),
 ('Afghanistan',
  -1.3276876211166382,
  -2.671053886413574,
  -1.0398427248001099,
  -1.4981898069381714),
 ('Angola',
  -1.0013797283172607,
  -0.3158988356590271,
  -1.1429325342178345,
  -1.0873204469680786),
 ('Albania',
  0.18902206420898438,
  0.3446446657180786,
  0.1699492186307907,
  -0.32886725664138794),
 ('United Arab Emirates',
  0.9725956320762634,
  0.5647489428520203,
  -1.0504213571548462,
  0.8490409851074219),
 ('Argentina',
  -0.469625324010849,
  0.20462550222873688,
  0.49256306886672974,
  -0.39360594749450684),
 ('Armenia',
  0.25005558133125305,
  -0.662263810634613,
  -0.5793346166610718,
  -0.11912964284420013),
 ('Antigua and Barbuda',
  0.3414611518383026,
  0.8786072134971619,
  0.6336027383804321,
  0.5088418126106262),
 ('Australia',
  1.8969656229019165,
  1.0479580163955688,
  1.3510124683380127,
  1.7555209398269653),
 ('Austria',
  1.4404362440109253,
  0.9096387624740601,
  1.3374173641204834,
  1.8149665594100952),
 ('Azerbaijan',
  -0.2820228040218353,
  -0.8038790822029114,
  -1.5631005764007568,
  -0.5198614001274109),
 ('Burundi',
  -0.8252588510513306,
  -1.9707207679748535,
  -1.5496491193771362,
  -1.4602371454238892),
 ('Belgium',
  1.3406835794448853,
  0.4413672983646393,
  1.3769618272781372,
  1.3909647464752197),
 ('Benin',
  -0.5278943777084351,
  -0.002027171663939953,
  0.4133145809173584,
  -0.6085925102233887),
 ('Burkina Faso',
  -0.397382915019989,
  -0.8673758506774902,
  0.013356480747461319,
  -0.44127917289733887),
 ('Bangladesh',
  -0.7966800928115845,
  -1.2619367837905884,
  -0.5852980613708496,
  -0.6634919047355652),
 ('Bulgaria',
  0.6585177183151245,
  0.07733326405286789,
  0.4011085033416748,
  -0.0614716038107872),
 ('Bahrain',
  0.6082390546798706,
  -0.7934256792068481,
  -1.3721343278884888,
  0.45638054609298706),
 ('Bahamas, The',
  0.25758928060531616,
  0.975418746471405,
  0.852094292640686,
  0.26031213998794556),
 ('Bosnia and Herzegovina',
  -0.16664782166481018,
  -0.397838830947876,
  -0.13219600915908813,
  -0.2167295515537262),
 ('Belarus',
  -0.9412614107131958,
  0.14228147268295288,
  -1.339493989944458,
  -0.7160392999649048),
 ('Belize',
  -0.5123593807220459,
  0.060622137039899826,
  0.5707703828811646,
  -0.8637331128120422),
 ('Bolivia',
  -0.9240947961807251,
  -0.24886636435985565,
  -0.03692552447319031,
  -1.2005572319030762),
 ('Brazil',
  -0.20731551945209503,
  -0.37720540165901184,
  0.45056623220443726,
  -0.15722280740737915),
 ('Barbados',
  0.48106494545936584,
  0.9766098856925964,
  1.085730791091919,
  0.7951231598854065),
 ('Brunei Darussalam',
  0.5933974385261536,
  1.1541720628738403,
  -0.9010608196258545,
  0.5616942048072815),
 ('Bhutan',
  -0.6651374697685242,
  1.1232967376708984,
  -0.025974635034799576,
  0.49350085854530334),
 ('South Sudan',
  -1.8582611083984375,
  -2.4189655780792236,
  -1.7946455478668213,
  -1.9294716119766235),
 ('Botswana',
  0.5284873843193054,
  0.9945600032806396,
  0.3943016827106476,
  0.5337256193161011),
 ('Central African Republic',
  -1.4273067712783813,
  -1.78926682472229,
  -1.0865451097488403,
  -1.8164989948272705),
 ('Canada',
  1.7388198375701904,
  1.2560585737228394,
  1.4479405879974365,
  1.8411105871200562),
 ('Switzerland',
  1.9119008779525757,
  1.3062903881072998,
  1.5317878723144531,
  1.94754159450531),
 ('Chile',
  1.3730642795562744,
  0.41311052441596985,
  0.9951398968696594,
  1.1292688846588135),
 ('China',
  -0.2644748091697693,
  -0.4993950426578522,
  -1.5612865686416626,
  -0.3344145715236664),
 ("CÃ´te d'Ivoire",
  -0.36489057540893555,
  -0.907559335231781,
  -0.2977151572704315,
  -0.6445512771606445),
 ('Cameroon',
  -0.7898977994918823,
  -1.0621370077133179,
  -1.0329704284667969,
  -1.036001443862915),
 ('Congo, Rep.',
  -1.1656280755996704,
  -0.5192695260047913,
  -1.1576118469238281,
  -1.0955941677093506),
 ('Colombia',
  0.4020092785358429,
  -0.8824593424797058,
  0.12077225744724274,
  -0.27879753708839417),
 ('Comoros',
  -1.0495561361312866,
  0.035759903490543365,
  -0.2519300878047943,
  -0.9985092878341675),
 ('Cape Verde',
  -0.296039879322052,
  0.8862156271934509,
  0.9755524396896362,
  0.347443163394928),
 ('Costa Rica',
  0.4074336588382721,
  0.6614283323287964,
  1.1175278425216675,
  0.4660426676273346),
 ('Cuba',
  -1.3387032747268677,
  0.6853638887405396,
  -1.5601963996887207,
  -0.44236236810684204),
 ('Cayman Islands',
  0.7873485088348389,
  1.1684963703155518,
  0.47488027811050415,
  0.7974364757537842),
 ('Cyprus',
  1.0526260137557983,
  0.6042547225952148,
  1.0465773344039917,
  0.721343994140625),
 ('Czech Republic',
  0.9864010214805603,
  0.9761155247688293,
  1.0247687101364136,
  1.0355017185211182),
 ('Germany',
  1.8170156478881836,
  0.6813634037971497,
  1.3637803792953491,
  1.6220163106918335),
 ('Djibouti',
  -0.7000201940536499,
  -0.6264004111289978,
  -1.372532606124878,
  -0.9759273529052734),
 ('Dominica',
  0.1990751177072525,
  1.002437710762024,
  0.8993958234786987,
  0.6063735485076904),
 ('Denmark',
  1.575407862663269,
  0.8679154515266418,
  1.5413569211959839,
  1.91238534450531),
 ('Dominican Republic',
  -0.06524502485990524,
  0.25210604071617126,
  0.18061743676662445,
  -0.39514949917793274),
 ('Algeria',
  -1.1718788146972656,
  -1.097525715827942,
  -0.8631691336631775,
  -0.8574009537696838),
 ('Ecuador',
  -1.0184543132781982,
  -0.08535795658826828,
  -0.2484729290008545,
  -0.7612533569335938),
 ('Egypt, Arab Rep.',
  -0.9231896996498108,
  -1.4376965761184692,
  -1.2072643041610718,
  -0.5173006057739258),
 ('Eritrea',
  -2.1868226528167725,
  -0.656912088394165,
  -2.172703504562378,
  -1.6250622272491455),
 ('Spain',
  1.0086036920547485,
  0.41318827867507935,
  1.0410457849502563,
  0.97882479429245),
 ('Estonia',
  1.6981420516967773,
  0.6739077568054199,
  1.207984209060669,
  1.2263580560684204),
 ('Ethiopia',
  -1.101312518119812,
  -1.6198132038116455,
  -1.4036623239517212,
  -0.4923487603664398),
 ('Finland',
  1.8174076080322266,
  0.9990864992141724,
  1.5317293405532837,
  2.01521372795105),
 ('Fiji',
  -0.37709841132164,
  0.9178149700164795,
  0.026981228962540627,
  -0.27447015047073364),
 ('France',
  1.07032310962677,
  -0.09535911679267883,
  1.1355739831924438,
  1.4130818843841553),
 ('Micronesia, Fed. Sts.',
  -0.9661163091659546,
  1.057582139968872,
  1.1475342512130737,
  -0.0507727786898613),
 ('Gabon',
  -0.7979103922843933,
  -0.10491097718477249,
  -0.9695890545845032,
  -0.604552149772644),
 ('United Kingdom',
  1.7607086896896362,
  0.3604540526866913,
  1.2946361303329468,
  1.6915069818496704),
 ('Georgia',
  1.0086610317230225,
  -0.3132914900779724,
  0.29372623562812805,
  0.3836609721183777),
 ('Ghana',
  -0.23250968754291534,
  -0.1309286206960678,
  0.5836055874824524,
  0.04878577962517738),
 ('Guinea',
  -0.8676736950874329,
  -0.3938748240470886,
  -0.7616860270500183,
  -1.2160677909851074),
 ('Gambia, The',
  -0.5093246698379517,
  -0.43441230058670044,
  -1.2619493007659912,
  -0.7744681239128113),
 ('Guinea-Bissau',
  -1.235826849937439,
  -0.4426938593387604,
  -0.734562873840332,
  -1.4868019819259644),
 ('Equatorial Guinea',
  -1.3802393674850464,
  -0.1408686339855194,
  -1.9525450468063354,
  -1.5158510208129883),
 ('Greece',
  0.1483868509531021,
  -0.12159917503595352,
  0.6684951186180115,
  0.1073458343744278),
 ('Grenada',
  0.08402496576309204,
  1.0189324617385864,
  0.8170356750488281,
  0.5689648985862732),
 ('Greenland',
  1.3346858024597168,
  1.9650615453720093,
  1.2793039083480835,
  1.7236003875732422),
 ('Guatemala',
  -0.2024315446615219,
  -0.5425926446914673,
  -0.29188889265060425,
  -1.0198415517807007),
 ('French Guiana',
  1.4288026094436646,
  0.5509570837020874,
  1.2793039083480835,
  1.3083679676055908),
 ('Guyana',
  -0.4165162444114685,
  -0.02606266364455223,
  0.2535390555858612,
  -0.30911359190940857),
 ('Hong Kong SAR, China',
  2.1538867950439453,
  0.7508071064949036,
  0.37720924615859985,
  1.7228528261184692),
 ('Honduras',
  -0.5130280256271362,
  -0.4333121180534363,
  -0.4396991729736328,
  -1.1187045574188232),
 ('Croatia',
  0.35627833008766174,
  0.6637694835662842,
  0.5245169401168823,
  0.40917614102363586),
 ('Haiti',
  -1.238312005996704,
  -0.7437880635261536,
  -0.7594473361968994,
  -1.0019965171813965),
 ('Hungary',
  0.6034219264984131,
  0.6546786427497864,
  0.4012523293495178,
  0.4230583608150482),
 ('Indonesia',
  -0.12234385311603546,
  -0.3729524314403534,
  0.1666785478591919,
  -0.3447512090206146),
 ('India',
  -0.306505024433136,
  -0.9538398385047913,
  0.44018736481666565,
  -0.028877168893814087),
 ('Ireland',
  1.7409651279449463,
  0.8478188514709473,
  1.2909750938415527,
  1.5172436237335205),
 ('Iran, Islamic Rep.',
  -1.2293685674667358,
  -0.8130754232406616,
  -1.343074917793274,
  -0.6790152192115784),
 ('Iraq',
  -1.1250684261322021,
  -2.3135876655578613,
  -1.0167858600616455,
  -1.6255947351455688),
 ('Iceland',
  1.2768465280532837,
  1.3616238832473755,
  1.3560513257980347,
  1.5195448398590088),
 ('Israel',
  1.3126295804977417,
  -0.7945363521575928,
  0.7866030335426331,
  1.072176218032837),
 ('Italy',
  0.7105918526649475,
  0.3694153130054474,
  1.0339932441711426,
  0.3291599154472351),
 ('Jamaica',
  0.16384337842464447,
  0.30768394470214844,
  0.6812609434127808,
  -0.20327040553092957),
 ('Jordan',
  0.051679495722055435,
  -0.49239838123321533,
  -0.7130067944526672,
  0.30430009961128235),
 ('Japan',
  1.4281220436096191,
  0.9829441905021667,
  0.9879047274589539,
  1.4209917783737183),
 ('Kazakhstan',
  -0.09970073401927948,
  0.008457482792437077,
  -1.2075520753860474,
  -0.4350888729095459),
 ('Kenya',
  -0.30032971501350403,
  -1.3547910451889038,
  -0.11544310301542282,
  -0.44055166840553284),
 ('Kyrgyz Republic',
  -0.3526321053504944,
  -0.6468619108200073,
  -0.420299232006073,
  -1.0228581428527832),
 ('Cambodia',
  -0.4652203917503357,
  0.21103785932064056,
  -1.1069366931915283,
  -1.0636622905731201),
 ('Kiribati',
  -0.8390459418296814,
  0.8732360601425171,
  1.0048456192016602,
  0.23635442554950714),
 ('St. Kitts and Nevis',
  0.3680279850959778,
  0.6263307332992554,
  1.0065346956253052,
  0.5054808259010315),
 ('Korea, Rep.',
  1.1143251657485962,
  0.16346895694732666,
  0.6407209038734436,
  1.160836100578308),
 ('Kuwait',
  -0.07388196140527725,
  -0.049683164805173874,
  -0.6289633512496948,
  0.027930332347750664),
 ('Lao PDR',
  -0.72486811876297,
  0.5322912931442261,
  -1.7592438459396362,
  -0.7958245277404785),
 ('Lebanon',
  -0.34316152334213257,
  -1.618972659111023,
  -0.520428478717804,
  -0.8304968476295471),
 ('Liberia',
  -0.9484934210777283,
  -0.4374077618122101,
  -0.10750831663608551,
  -0.945159375667572),
 ('Libya',
  -2.274460792541504,
  -2.283329963684082,
  -1.4297691583633423,
  -1.8166943788528442),
 ('St. Lucia',
  0.2904059886932373,
  1.0189324617385864,
  1.0126564502716064,
  0.5169710516929626),
 ('Liechtenstein',
  1.3725981712341309,
  1.4779268503189087,
  1.2502906322479248,
  1.688664436340332),
 ('Sri Lanka',
  -0.10003569722175598,
  -0.004029535688459873,
  -0.0821305513381958,
  0.11059160530567169),
 ('Lesotho',
  -0.38758987188339233,
  -0.23646517097949982,
  0.033744823187589645,
  -0.16829079389572144),
 ('Lithuania',
  1.136218547821045,
  0.828279972076416,
  0.9999698400497437,
  1.029358148574829),
 ('Luxembourg',
  1.7220793962478638,
  1.4194847345352173,
  1.5002105236053467,
  1.760356068611145),
 ('Latvia',
  1.0802433490753174,
  0.47906923294067383,
  0.8424898386001587,
  0.9589825868606567),
 ('Kosovo',
  -0.18886877596378326,
  -0.2824069559574127,
  -0.14882056415081024,
  -0.35017669200897217),
 ('Macao SAR, China',
  1.7814769744873047,
  1.4170615673065186,
  -0.061402179300785065,
  0.855739176273346),
 ('Morocco',
  -0.234950453042984,
  -0.31257346272468567,
  -0.6263163685798645,
  -0.1583126336336136),
 ('Moldova',
  -0.11488620936870575,
  -0.30355989933013916,
  -0.02121436968445778,
  -0.49498867988586426),
 ('Madagascar',
  -0.6897417902946472,
  -0.29009461402893066,
  -0.31307724118232727,
  -0.813404381275177),
 ('Maldives',
  -0.45790496468544006,
  0.42099282145500183,
  -0.7330725193023682,
  -0.4075964093208313),
 ('Mexico',
  0.28712186217308044,
  -0.6290693879127502,
  -0.06921301037073135,
  -0.5562108159065247),
 ('Marshall Islands',
  -0.9765467047691345,
  0.20774921774864197,
  1.1913983821868896,
  -0.09817054122686386),
 ('Macedonia, FYR',
  0.44094008207321167,
  -0.35120466351509094,
  -0.23609739542007446,
  -0.2775651514530182),
 ('Mali',
  -0.5908752083778381,
  -1.6172325611114502,
  -0.18350622057914734,
  -0.7821617126464844),
 ('Malta',
  1.156792163848877,
  1.0804413557052612,
  1.1963084936141968,
  0.9977588653564453),
 ('Myanmar',
  -0.8683161735534668,
  -0.8046199083328247,
  -0.7977831363677979,
  -0.8869774341583252),
 ('Mongolia',
  -0.07631254941225052,
  0.7977928519248962,
  0.33192771673202515,
  -0.22019700706005096),
 ('Montenegro',
  0.22443264722824097,
  0.2766306400299072,
  0.07599063962697983,
  -0.005681447684764862),
 ('Mozambique',
  -0.704560399055481,
  -1.094004511833191,
  -0.41825243830680847,
  -1.0513094663619995),
 ('Mauritania',
  -0.7430017590522766,
  -0.7469676733016968,
  -0.7752388715744019,
  -0.7264318466186523),
 ('Mauritius',
  1.0297569036483765,
  1.0131869316101074,
  0.8190387487411499,
  0.7516718506813049),
 ('Malawi',
  -0.8448485732078552,
  -0.11347855627536774,
  -0.030775604769587517,
  -0.37533095479011536),
 ('Malaysia',
  0.7117952108383179,
  0.1368246227502823,
  -0.4183708131313324,
  0.49914947152137756),
 ('Namibia',
  -0.1359364241361618,
  0.7100896835327148,
  0.5822149515151978,
  0.3626662492752075),
 ('Niger',
  -0.6713568568229675,
  -1.1033070087432861,
  -0.42279690504074097,
  -0.661076545715332),
 ('Nigeria',
  -0.9188930988311768,
  -1.8777098655700684,
  -0.3201828896999359,
  -1.0172491073608398),
 ('Nicaragua',
  -0.5067052245140076,
  -0.08879774808883667,
  -0.6815341114997864,
  -0.6442274451255798),
 ('Netherlands',
  1.9761666059494019,
  0.9122675061225891,
  1.540276288986206,
  1.8944098949432373),
 ('Norway',
  1.697962999343872,
  1.2000744342803955,
  1.664254903793335,
  2.0363340377807617),
 ('Nepal',
  -0.7645322680473328,
  -0.8468120098114014,
  -0.2528713345527649,
  -0.795469343662262),
 ('Nauru',
  -0.38487157225608826,
  0.5790772438049316,
  0.5078482627868652,
  -0.7753079533576965),
 ('New Zealand',
  2.0382754802703857,
  1.5191833972930908,
  1.5324134826660156,
  1.9544677734375),
 ('Oman',
  0.6104661226272583,
  0.7600530385971069,
  -1.0544072389602661,
  0.4079170525074005),
 ('Pakistan',
  -0.6395841836929321,
  -2.483173131942749,
  -0.7009913921356201,
  -0.8043784499168396),
 ('Panama',
  0.3606293201446533,
  0.4114300608634949,
  0.5239390134811401,
  0.049561142921447754),
 ('Palau',
  -0.17746996879577637,
  0.9504053592681885,
  1.2133305072784424,
  0.3241207003593445),
 ('Peru',
  0.508346438407898,
  -0.20172694325447083,
  0.2676311433315277,
  -0.4820230007171631),
 ('Philippines',
  -0.004101375117897987,
  -1.3798187971115112,
  0.16210885345935822,
  -0.35493358969688416),
 ('Papua New Guinea',
  -0.555989682674408,
  -0.5047720670700073,
  0.157241553068161,
  -0.7764291167259216),
 ('Poland',
  0.9519957304000854,
  0.50724196434021,
  0.843490481376648,
  0.6362179517745972),
 ('Puerto Rico',
  0.9498480558395386,
  0.6893540024757385,
  0.41023847460746765,
  0.6593827605247498),
 ('Korea, Dem. Rep.',
  -2.3317179679870605,
  -0.6807606816291809,
  -2.180396318435669,
  -1.6695774793624878),
 ('Portugal',
  0.8443990349769592,
  0.9740514159202576,
  1.1569597721099854,
  1.097241997718811),
 ('Paraguay',
  -0.2999761998653412,
  0.14178971946239471,
  -0.062343452125787735,
  -0.7297483682632446),
 ('Qatar',
  0.6959443688392639,
  0.900234580039978,
  -1.1523041725158691,
  0.7942776679992676),
 ('Romania',
  0.5874754190444946,
  0.27719661593437195,
  0.5397746562957764,
  0.36098888516426086),
 ('Russian Federation',
  -0.41556262969970703,
  -0.9462102651596069,
  -1.1339490413665771,
  -0.7921620011329651),
 ('Rwanda',
  0.10711923241615295,
  -0.05489928647875786,
  -1.1570093631744385,
  0.10184937715530396),
 ('Samoa',
  -0.1030716598033905,
  1.1973494291305542,
  0.7742987871170044,
  0.7619646191596985),
 ('Saudi Arabia',
  0.07933120429515839,
  -0.4648284912109375,
  -1.7292166948318481,
  0.33760806918144226),
 ('Sudan',
  -1.4914370775222778,
  -2.3372180461883545,
  -1.8376545906066895,
  -1.258186936378479),
 ('Senegal',
  -0.14307232201099396,
  -0.21825532615184784,
  0.36921870708465576,
  -0.10650072246789932),
 ('Singapore',
  2.180612087249756,
  1.4957586526870728,
  -0.15045371651649475,
  1.8252429962158203),
 ('Solomon Islands',
  -0.9580070972442627,
  0.506028413772583,
  0.4673912823200226,
  -0.3189365565776825),
 ('Sierra Leone',
  -0.9254887700080872,
  -0.15992645919322968,
  -0.1992540806531906,
  -0.7773608565330505),
 ('El Salvador',
  0.09397167712450027,
  -0.0992913767695427,
  0.188028946518898,
  -0.7095167636871338),
 ('Somalia',
  -2.2652735710144043,
  -2.3573625087738037,
  -1.9124021530151367,
  -2.3464207649230957),
 ('SÃ£o TomÃ© and Principe',
  -0.8124582767486572,
  0.22328685224056244,
  0.36881017684936523,
  -0.6631512641906738),
 ('Suriname',
  -0.6269572377204895,
  0.16208134591579437,
  0.41523972153663635,
  -0.15487737953662872),
 ('Slovak Republic',
  0.8890519142150879,
  0.7211706638336182,
  0.9607724547386169,
  0.6468015313148499),
 ('Slovenia',
  0.64026939868927,
  0.9904360175132751,
  1.0101711750030518,
  1.082672357559204),
 ('Sweden',
  1.8542029857635498,
  1.017940878868103,
  1.56390380859375,
  2.019033670425415),
 ('Swaziland',
  -0.5762868523597717,
  -0.48871684074401855,
  -1.4162544012069702,
  -0.36851659417152405),
 ('Seychelles',
  -0.25915461778640747,
  0.7330045104026794,
  0.15811149775981903,
  0.1508747637271881),
 ('Syrian Arab Republic',
  -1.6661535501480103,
  -2.916323184967041,
  -1.9868111610412598,
  -1.9906145334243774),
 ('Chad',
  -1.1800222396850586,
  -1.302364706993103,
  -1.3558602333068848,
  -1.3779296875),
 ('Togo',
  -0.7933023571968079,
  -0.1723535805940628,
  -0.5458997488021851,
  -0.6335543394088745),
 ('Thailand',
  0.1680702269077301,
  -0.9885814189910889,
  -1.0251140594482422,
  -0.004875707905739546),
 ('Tajikistan',
  -1.0931367874145508,
  -0.777759850025177,
  -1.6917637586593628,
  -1.1480056047439575),
 ('Turkmenistan',
  -2.0909881591796875,
  -0.18969251215457916,
  -2.1708874702453613,
  -1.4898247718811035),
 ('Timor-Leste',
  -0.9773057699203491,
  -0.010503778234124184,
  0.2195098102092743,
  -1.1581416130065918),
 ('Tonga',
  -0.4052489101886749,
  0.9178149700164795,
  0.6426937580108643,
  0.2585349977016449),
 ('Trinidad and Tobago',
  0.08672258257865906,
  0.2863519787788391,
  0.5579509139060974,
  -0.15407173335552216),
 ('Tunisia',
  -0.4700932502746582,
  -1.1413267850875854,
  0.3034268915653229,
  -0.003101208945736289),
 ('Turkey',
  0.1961425393819809,
  -2.0090630054473877,
  -0.6089114546775818,
  -0.20864415168762207),
 ('Tuvalu',
  -0.5901172757148743,
  1.4134193658828735,
  1.081737995147705,
  0.46582362055778503),
 ('Taiwan, China',
  1.2878601551055908,
  0.9256644248962402,
  1.0092875957489014,
  1.1413365602493286),
 ('Tanzania',
  -0.4353083670139313,
  -0.4409947693347931,
  -0.2237957864999771,
  -0.3767007887363434),
 ('Uganda',
  -0.21314658224582672,
  -0.715322732925415,
  -0.6500136852264404,
  -0.2511763572692871),
 ('Ukraine',
  -0.429534375667572,
  -1.8564798831939697,
  0.0005961483693681657,
  -0.7662937045097351),
 ('Uruguay',
  0.48945555090904236,
  1.0625804662704468,

In [254]:
cnx.close()

In [256]:
stmt = "INSERT INTO world_bank_index (Country, Regulatory_Quality, Political_Stability, Accountability, Rule_of_Law) VALUES (%s, %s, %s, %s, %s)"
cur.executemany(stmt, data)

In [257]:
cnx.commit()

In [258]:
cnx.close()

In [253]:
df_combo.head()

13,Country,Regulatory_Quality,Political_Stability,Accountability,Rule_of_Law
0,Aruba,1.34755,1.2842,1.2793,1.26174
1,Andorra,0.871443,1.41342,1.17654,1.57792
2,Afghanistan,-1.32769,-2.67105,-1.03984,-1.49819
3,Angola,-1.00138,-0.315899,-1.14293,-1.08732
5,Albania,0.189022,0.344645,0.169949,-0.328867

In [456]:
df_ag = pd.read_excel('API_NV.AGR.TOTL.ZS_DS2_en_excel_v2_316750.xls', sheetname='Data')

/Users/kylebaranko/anaconda3/envs/learn-env/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [457]:
df.head()

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
0,Last Updated Date,2019-10-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2009.000000,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.0
3,Aruba,ABW,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.440398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,29.297501,26.210069,23.743664,24.390874,22.810663,22.137041,20.634323,21.081086,20.466505,NaN

In [458]:
df_ag = df_ag.drop(df_ag.index[0:2])
len(df_ag)

265

In [459]:
df_ag.head()

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2009.000000,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000
3,Aruba,ABW,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.440398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,29.297501,26.210069,23.743664,24.390874,22.810663,22.137041,20.634323,21.081086,20.466505,NaN
5,Angola,AGO,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.621197,6.180293,5.845681,6.069630,6.507493,7.547057,9.122534,9.831169,10.016996,NaN
6,Albania,ALB,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.794409,17.955856,18.226767,18.766799,19.565170,19.990148,19.780219,19.849978,19.014333,18.394904

In [460]:
df_ag = df_ag[['Data Source', 'Unnamed: 60']]

In [461]:
df_ag['Unnamed: 60'] = df_ag['Unnamed: 60'].astype(str)

In [462]:
new_header = df_ag.iloc[0] #grab the first row for the header
df_ag = df_ag[1:] #take the data less the header row
df_ag.columns = new_header

In [463]:
df_ag.head()

2 Country Name               2016.0
3        Aruba                  nan
4  Afghanistan   21.081086211038883
5       Angola    9.831168608692556
6      Albania    19.84997816607232
7      Andorra  0.49210138826415084

In [464]:
df_ag.rename(columns = {'Country Name':'country'}, inplace = True)
df_ag.rename(columns = {'2016.0': 'GDP_Ag_and_Forest'}, inplace = True)

In [465]:
df_ag.columns

Index(['country', 'GDP_Ag_and_Forest'], dtype='object', name=2)

In [466]:
df_ag.head()

2      country    GDP_Ag_and_Forest
3        Aruba                  nan
4  Afghanistan   21.081086211038883
5       Angola    9.831168608692556
6      Albania    19.84997816607232
7      Andorra  0.49210138826415084

In [467]:
df_ag['GDP_Ag_and_Forest'] = df_ag['GDP_Ag_and_Forest'].astype(float)

In [468]:
df_oil = pd.read_excel('API_NY.GDP.PETR.RT.ZS_DS2_en_excel_v2_318824.xls', sheetname='Data')

/Users/kylebaranko/anaconda3/envs/learn-env/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [469]:
df_oil = df_oil.drop(df_oil.index[0:2])
df_oil = df_oil[['Data Source', 'Unnamed: 60']]
df_oil['Unnamed: 60'] = df_oil['Unnamed: 60'].astype(str)
new_header = df_oil.iloc[0] #grab the first row for the header
df_oil = df_oil[1:] #take the data less the header row
df_oil.columns = new_header

In [470]:
df_oil.head()

2 Country Name                2016.0
3        Aruba                   0.0
4  Afghanistan  0.000824121640284273
5       Angola       10.168704920456
6      Albania     0.853420934523584
7      Andorra                   nan

In [471]:
df_oil.rename(columns = {'Country Name':'country'}, inplace = True)
df_oil.rename(columns = {'2016.0': 'petro_income'}, inplace = True)

In [472]:
df_oil.sort_values(by=['petro_income']).head()

2             country petro_income
3               Aruba          0.0
158   North Macedonia          0.0
153          Maldives          0.0
147  Macao SAR, China          0.0
146            Latvia          0.0

In [473]:
df_resources = pd.read_excel('API_NY.GDP.TOTL.RT.ZS_DS2_en_excel_v2_317255.xls', sheetname='Data')

/Users/kylebaranko/anaconda3/envs/learn-env/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [474]:
df_resources

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
0,Last Updated Date,2019-10-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2009.000000,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.0
3,Aruba,ABW,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000968,0.002361,0.001948,0.001973,0.002363,0.003402,0.002613,0.003553,0.003509,NaN
4,Afghanistan,AFG,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.406485,0.588007,0.841949,0.680631,0.526111,0.495682,0.479033,0.625860,0.693531,NaN
5,Angola,AGO,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.745534,39.003947,39.887097,35.678268,30.470816,23.381930,10.803628,10.746210,16.350120,NaN
6,Albania,ALB,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.980091,2.033753,3.455044,3.596120,3.578365,3.574897,1.813210,1.049503,1.698859,NaN
7,Andorra,AND,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
8,Arab World,ARB,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,24.666969,28.377485,36.234234,35.465564,32.527644,28.942833,17.033880,14.003866,17.658144,NaN
9,United Arab Emirates,ARE,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,19.240829,22.644274,30.077874,29.866160,27.140044,24.249507,14.050778,11.346695,13.688736,NaN
10,Argentina,ARG,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.283154,3.484131,3.914260,3.764374,3.354030,3.034870,1.336710,1.134939,1.322813,NaN
11,Armenia,ARM,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.656636,2.992129,4.103021,4.078737,3.405570,3.393918,4.013202,4.412079,5.815621,NaN
12,American Samoa,ASM,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
13,Antigua and Barbuda,ATG,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
14,Australia,AUS,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.774169,9.863214,10.804888,7.590832,7.699503,7.342808,5.235129,6.095125,7.207689,NaN
15,Austria,AUT,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.181548,0.235506,0.276409,0.262243,0.238042,0.197584,0.133717,0.112891,0.139470,NaN
16,Azerbaijan,AZE,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,28.436107,32.188737,35.238677,31.473058,27.037133,23.077732,14.614903,15.440176,21.019025,NaN
17,Burundi,BDI,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,30.623827,24.071733,25.276305,17.969691,17.830389,17.033314,15.706972,17.021056,16.210771,NaN
18,Belgium,BEL,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.017357,0.019183,0.019137,0.018571,0.019262,0.020153,0.019639,0.018806,0.018808,NaN
19,Benin,BEN,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.086227,4.687139,4.765918,5.358764,4.815586,4.872945,5.776274,6.001739,5.757890,NaN
20,Burkina Faso,BFA,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,12.021798,14.941609,18.694216,18.936749,17.165983,16.981603,20.068507,21.114070,19.942018,NaN
21,Bangladesh,BGD,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.215090,1.208467,1.740703,1.691674,1.258006,1.189656,0.964037,0.644156,0.655052,NaN
22,Bulgaria,BGR,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.562452,2.523542,2.846510,2.328999,1.791598,1.582006,1.481358,1.340419,1.425731,NaN
23,Bahrain,BHR,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.263106,6.010512,8.202939,8.872662,9.337297,8.612223,5.109602,3.227259,3.515113,NaN
24,"Bahamas, The",BHS,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.008620,0.015295,0.013282,0.012326,0.014443,0.017996,0.012762,0.015380,0.015077,NaN
25,Bosnia and Herzegovina,BIH,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.506055,2.648822,3.673806,2.361617,1.957181,1.380029,1.039906,1.179786,1.306671,NaN
26,Belarus,BLR,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.093291,1.305478,1.739130,1.815418,1.482749,1.335644,1.130823,1.297212,1.377342,NaN
27,Belize,BLZ,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.014437,5.287369,6.847601,4.731347,3.503073,2.607240,1.042682,0.850455,0.998541,NaN
28,Bermuda,BMU,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
29,Bolivia,BOL,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.739725,10.597000,14.687401,13.248795,12.938835,11.274264,6.022094,5.241708,6.925103,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,Latin America & the Caribbean (IDA & IBRD coun...,TLA,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.830020,6.112458,7.565164,6.965873,6.453933,5.600750,3.382113,3.149667,3.740277,NaN
238,Timor-Leste,TLS,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,54.305882,51.388908,50.669490,40.420212,45.371368,56.548478,47.372179,33.345822,31.458445,NaN
239,Middle East & North Africa (IDA & IBRD countries),TMN,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,19.343998,21.977535,25.896404,24.959927,24.180187,21.910617,13.043778,10.858554,15.409076,NaN
240,Tonga,TON,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.053943,0.048160,0.046539,0.039635,0.039808,0.053681,0.042285,0.048805,0.046507,NaN
241,South Asia (IDA & IBRD),TSA,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.070756,3.908553,4.644525,3.545069,3.163439,2.526883,1.651085,1.600201,1.861871,NaN
242,Sub-Saharan Africa (IDA & IBRD countries),TSS,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,11.702653,13.974414,17.350805,15.296660,13.434719,11.387940,7.539892,7.709017,9.247907,NaN
243,Trinidad and Tobago,TTO,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.274677,14.559544,18.615169,18.555801,17.852261,13.847746,7.854774,4.985608,7.703947,NaN
244,Tunisia,TUN,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.805494,5.827173,6.694924,7.089972,5.914218,4.865196,2.878493,2.298548,2.409145,NaN
245,Turkey,TUR,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.384209,0.536632,0.699295,0.559756,0.482429,0.416347,0.310810,0.301416,0.363303,NaN
246,Tuvalu,TUV,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
247,Tanzania,TZA,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.453101,7.479910,9.063604,8.734837,7.134800,6.222039,6.643686,6.807840,6.616386,NaN
248,Uganda,UGA,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.093442,10.708261,12.650953,12.658834,12.154483,11.616075,12.551295,14.625774,13.856205,NaN
249,Ukraine,UKR,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.075448,9.059602,10.040554,6.882777,6.337148,5.664424,4.091240,3.609277,3.999671,NaN
250,Upper middle income,UMC,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.596219,8.244731,10.053456,7.992636,6.776588,5.740806,3.286780,2.882897,3.607056,NaN
251,Uruguay,URY,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.371480,2.032332,1.382560,1.189957,1.288682,1.524374,1.714124,1.759267,1.649150,NaN
252,United States,USA,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.776168,0.920308,1.229979,0.826193,0.784629,0.665871,0.274436,0.331562,0.473109,NaN
253,Uzbekistan,UZB,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,24.574624,21.138478,26.511153,25.074020,22.264137,15.844569,10.719355,8.810192,14.694999,NaN
254,St. Vincent and the Grenadines,VCT,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.015764,0.035287,0.030051,0.028326,0.032995,0.044837,0.032358,0.040617,0.040177,NaN
255,"Venezuela, RB",VEN,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.677947,12.710981,24.189095,18.723672,17.967750,11.816557,NaN,NaN,NaN,NaN
256,British Virgin Islands,VGB,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,Virgin Islands (U.S.),VIR,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
258,Vietnam,VNM,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.608557,8.162776,9.830682,8.037989,6.480091,5.780967,3.284043,2.623647,2.861402,NaN
259,Vanuatu,VUT,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.847118,0.796653,0.818774,0.764014,0.705822,0.987151,0.814006,0.848355,0.786780,NaN
260,World,WLD,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.904248,3.831786,5.034227,4.341693,3.916116,3.377901,1.939508,1.702282,2.150622,NaN
261,Samoa,WSM,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.496603,0.434348,0.481844,0.380785,0.349020,0.550015,0.381664,0.470402,0.446697,NaN
262,Kosovo,XKX,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.457097,4.120783,3.745002,1.512770,1.208636,1.242117,0.931772,0.640826,0.757159,NaN
263,"Yemen, Rep.",YEM,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.154672,22.226338,24.277883,17.779473,17.749080,12.749501,1.310387,0.636945,1.946932,NaN
264,South Africa,ZAF,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.034776,7.692474,8.666760,7.289043,6.985963,5.787664,4.530160,5.055246,5.140271,NaN
265,Zambia,ZMB,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.594659,21.406950,21.829693,18.921492,16.891400,15.415249,16.187354,15.329551,15.947264,NaN
266,Zimbabwe,ZWE,Total natural resources rents (% of GDP),NY.GDP.TOTL.RT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.361439,7.735095,9.472734,8.070786,6.533939,6.999527,6.698087,6.737748,7.026878,NaN

In [475]:
df_resources = df_resources.drop(df_resources.index[0:2])
df_resources = df_resources[['Data Source', 'Unnamed: 60']]
df_resources['Unnamed: 60'] = df_resources['Unnamed: 60'].astype(str)
new_header = df_resources.iloc[0] #grab the first row for the header
df_resources = df_resources[1:] #take the data less the header row
df_resources.columns = new_header

In [476]:
df_resources.head()

2 Country Name              2016.0
3        Aruba  0.0035529819409617
4  Afghanistan   0.625859794776059
5       Angola    10.7462101426498
6      Albania    1.04950275059878
7      Andorra                 0.0

In [477]:
df_resources.rename(columns = {'Country Name':'country'}, inplace = True)
df_resources.rename(columns = {'2016.0': 'resource_income'}, inplace = True)

In [478]:
df_resources.head()

2      country     resource_income
3        Aruba  0.0035529819409617
4  Afghanistan   0.625859794776059
5       Angola    10.7462101426498
6      Albania    1.04950275059878
7      Andorra                 0.0

In [479]:
df_endowment = df_ag.merge(df_oil, how='inner', on='country')
df_endowment = df_endowment.merge(df_resources, how='inner', on='country')

In [480]:
df_endowment.head()

2      country  GDP_Ag_and_Forest          petro_income     resource_income
0        Aruba                NaN                   0.0  0.0035529819409617
1  Afghanistan          21.081086  0.000824121640284273   0.625859794776059
2       Angola           9.831169       10.168704920456    10.7462101426498
3      Albania          19.849978     0.853420934523584    1.04950275059878
4      Andorra           0.492101                   nan                 0.0

In [481]:
cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    passwd = config.passwd,
    database = db_name
)
cur = cnx.cursor()

In [448]:
cnx.close()

In [482]:
tables_resources = {}
tables_resources['resource_data'] = (
    """CREATE TABLE resource_data (
       country varchar(60) ,
       GDP_Ag_and_Forest float,
       petro_income float,
       resource_income float,
       PRIMARY KEY (country))"""
)

In [483]:
tables_resources['resource_data']

'CREATE TABLE resource_data (\n       country varchar(60) ,\n       GDP_Ag_and_Forest float,\n       petro_income float,\n       resource_income float,\n       PRIMARY KEY (country))'

In [484]:
cur.execute(tables_resources['resource_data'])
cnx.commit()

In [488]:
len(df_endowment)

223

In [486]:
df_endowment['GDP_Ag_and_Forest'] = df_endowment['GDP_Ag_and_Forest'].astype(float)
df_endowment['petro_income'] = df_endowment['petro_income'].astype(float)
df_endowment['resource_income'] = df_endowment['resource_income'].astype(float)

In [487]:
df_endowment = df_endowment.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [491]:
def tuplify(df):
    tup_list = []
    
    for index, row in df.iterrows():
        tup = (row['country'], 
               row['GDP_Ag_and_Forest'], 
               row['petro_income'], 
               row['resource_income'] 
              ) # tuple length 7
        tup_list.append(tup)
    return tup_list

In [492]:
data1 = tuplify(df_endowment)

In [493]:
data1

[('Afghanistan', 21.081086211038883, 0.000824121640284273, 0.625859794776059),
 ('Angola', 9.831168608692556, 10.168704920456, 10.7462101426498),
 ('Albania', 19.84997816607232, 0.853420934523584, 1.04950275059878),
 ('Arab World', 5.47819711648175, 12.817845752873781, 14.003865902891631),
 ('United Arab Emirates',
  0.7760545678620673,
  10.8278815920281,
  11.3466954259009),
 ('Argentina', 6.264565820102544, 0.55245226765377, 1.13493944398007),
 ('Armenia', 16.390473533849974, 0.0, 4.41207919314764),
 ('Antigua and Barbuda', 1.5438279091989418, 0.0, 0.0),
 ('Australia', 2.387301732440534, 0.172404207819285, 6.09512470308981),
 ('Austria', 1.1127208669921667, 0.0234023877821888, 0.112891415219012),
 ('Azerbaijan', 5.605111774557635, 13.1743924067352, 15.4401757366392),
 ('Burundi', 30.645887638274004, 0.0, 17.0210559441359),
 ('Belgium', 0.6349906159776376, 0.0, 0.0188058560498753),
 ('Benin', 23.240416429810345, 0.0739684457129225, 6.00173900927042),
 ('Burkina Faso', 30.75716148739329, 0.0, 21.1140701839463),
 ('Bangladesh', 14.04554621975794, 0.0139824487984231, 0.644156117914773),
 ('Bulgaria', 4.054817805163073, 0.00679084240811391, 1.34041866395516),
 ('Bahrain', 0.3320124855167181, 1.81124071746545, 3.22725947961961),
 ('Bahamas, The', 0.8801567726458762, 0.0, 0.0153804697662327),
 ('Bosnia and Herzegovina', 6.369381022095031, 0.0, 1.1797855662951),
 ('Belarus', 6.895280624335169, 0.384228205487731, 1.29721187195147),
 ('Belize', 10.238750391782563, 0.407434320628642, 0.850455047203847),
 ('Bolivia', 11.1718754576911, 0.92575092686421, 5.24170841766032),
 ('Brazil', 4.893010520638786, 0.823917836832944, 3.01460706841085),
 ('Barbados', 1.379980349079829, 0.0510712603785978, 0.0667225439065535),
 ('Brunei Darussalam', 1.2036546260626768, 6.88980775983081, 14.7248545092887),
 ('Bhutan', 16.64448121235965, 0.0, 4.35820615272596),
 ('Botswana', 2.0497327391467235, 0.0, 1.14278138280327),
 ('Central African Republic', 31.379401443052622, 0.0, 14.0878875372979),
 ('Central Europe and the Baltics',
  2.8826449893084045,
  0.06448052087277947,
  0.6310742040029713),
 ('Switzerland', 0.6642393580600295, 0.0, 0.0100801189070264),
 ('Chile', 3.9934704396863197, 0.00811920670429059, 10.2821312521131),
 ('China', 8.126251248546065, 0.25672564296611, 1.25773570727903),
 ("Cote d'Ivoire", 22.426252772330482, 0.673847609292267, 5.59016973746687),
 ('Cameroon', 14.5430372691671, 1.68802129795544, 5.90255249357494),
 ('Congo, Dem. Rep.', 18.59975364026274, 0.320004928851926, 28.997613508497),
 ('Congo, Rep.', 7.2422724086525445, 15.4071529179038, 20.8680028458362),
 ('Colombia', 6.606412266057871, 1.84081096407559, 3.41675299223546),
 ('Comoros', 29.640629836218874, 0.0, 2.43474692340753),
 ('Cabo Verde', 7.995741095841799, 0.0, 0.772131106109398),
 ('Costa Rica', 5.130813555429495, 0.0, 1.1805027859248),
 ('Caribbean small states',
  3.679661169396572,
  0.7694821068656922,
  4.634887701655766),
 ('Cuba', 3.938929626792164, 0.226760074919176, 0.499362741077687),
 ('Cyprus', 1.9251819882965033, 0.0, 0.0241952169581328),
 ('Czech Republic',
  2.0649372167307396,
  0.00727320129798815,
  0.308197376645054),
 ('Germany', 0.6663185378590077, 0.00816330259969432, 0.0584716627304456),
 ('Djibouti', 1.9425311548025521, 0.0, 0.684620499947991),
 ('Dominica', 16.283854051105575, 0.0, 0.0568527487103391),
 ('Denmark', 0.9963611273473899, 0.271958052577161, 0.362378586591541),
 ('Dominican Republic', 5.784516602004361, 0.0, 2.1832118234623),
 ('Algeria', 12.212791372652804, 10.0461045020138, 12.3034066152038),
 ('East Asia & Pacific (excluding high income)',
  8.952254327430802,
  0.3345152275481377,
  1.6028648537764985),
 ('Early-demographic dividend',
  9.69374126142098,
  2.409243125193019,
  4.201961684716713),
 ('East Asia & Pacific',
  4.9484810574246705,
  0.21483424930993458,
  1.3138269088840293),
 ('Europe & Central Asia (excluding high income)',
  5.5701645044718475,
  2.836922071444882,
  5.369159894629508),
 ('Europe & Central Asia',
  1.9665991157683178,
  0.5018802081319492,
  0.9927856576856446),
 ('Ecuador', 9.519016728182327, 3.1794753531741, 3.74534584793358),
 ('Egypt, Arab Rep.', 11.769315970325533, 2.25907146577278, 3.06243714882646),
 ('Euro area', 1.5123395165412006, 0.009755963718381156, 0.09313983563101398),
 ('Spain', 2.690162083695719, 0.00138325957634856, 0.07440081849931),
 ('Estonia', 2.086267438530613, 0.210487362187467, 1.14431376721027),
 ('Ethiopia', 34.60883924910258, 0.0, 11.3691521435598),
 ('European Union',
  1.4436523518416409,
  0.05150134547243368,
  0.17812169697805508),
 ('Fragile and conflict affected situations',
  15.22185267760634,
  9.471257930224004,
  14.860642592230285),
 ('Finland', 2.380214094310719, 0.0, 0.560388165246279),
 ('Fiji', 10.671831419692781, 0.0, 1.70865448957171),
 ('France', 1.4371148666885394, 0.00399976994457513, 0.0394767675176373),
 ('Gabon', 4.973136909870676, 8.9739983987746, 12.2270002996465),
 ('United Kingdom', 0.5812571971704839, 0.215951848867501, 0.293216264880647),
 ('Georgia', 7.727346195101164, 0.102768614024529, 1.07445356939202),
 ('Ghana', 20.976891328746962, 1.06667058690465, 11.6512999329802),
 ('Guinea', 17.58994666314472, 0.0, 21.0993292718627),
 ('Gambia, The', 24.956992050957773, 0.0, 5.91346082068794),
 ('Guinea-Bissau', 46.348359012396315, 0.0, 18.2111770549822),
 ('Equatorial Guinea', 2.3322392093276143, 12.0421362404832, 16.2132787647406),
 ('Greece', 3.5772593075332093, 0.0109408840038112, 0.0872833596020288),
 ('Grenada', 6.206385470465559, 0.0, 0.0),
 ('Greenland', 18.580258065222505, 0.0, 0.0),
 ('Guatemala', 10.009430149535227, 0.0770887502261232, 1.99673701479958),
 ('Guyana', 15.200095082651425, 0.0, 25.0626354719261),
 ('High income', 1.280893804478819, 0.5640914204048489, 0.9700681953952209),
 ('Hong Kong SAR, China', 0.07620601642083066, 0.0, 0.0012496018479629),
 ('Honduras', 12.049901405846363, 0.0, 2.1689413318159),
 ('Heavily indebted poor countries (HIPC)',
  23.743038804601802,
  0.6888234443496558,
  10.119586390525537),
 ('Croatia', 3.1359016426293054, 0.160429116198096, 0.590697863874848),
 ('Hungary', 3.872069115271595, 0.0684989328593593, 0.255658730188636),
 ('IBRD only', 7.684241166643171, 1.2414750471918488, 2.8380062009740765),
 ('IDA & IBRD total',
  8.570217541981657,
  1.2217981587778908,
  3.066039770702365),
 ('IDA total', 21.827080193658414, 0.9653565008562122, 6.034866374569249),
 ('IDA blend', 21.946067166443815, 1.6061228878472666, 4.7321128701426245),
 ('Indonesia', 13.478748547027136, 0.649637375614107, 3.0587761530618),
 ('IDA only', 21.722803430474467, 0.36327951807142944, 7.257528821885536),
 ('India', 16.249809671174468, 0.235021200005595, 1.83767349511992),
 ('Ireland', 0.9403969660549784, 0.0, 0.0997522613303139),
 ('Iran, Islamic Rep.', 9.637366278011863, 11.4412493083949, 13.4696852724154),
 ('Iraq', 3.8, 31.1565428740816, 31.3418646559852),
 ('Iceland', 4.592044665114235, 0.0, 0.000250379491435469),
 ('Israel', 1.2096272020381313, 0.00145742268940846, 0.166752764715765),
 ('Italy', 1.8817285113715985, 0.0242828984512153, 0.0494235556393378),
 ('Jamaica', 6.597095833189001, 0.0, 1.23122739738074),
 ('Jordan', 5.246137261947538, 0.000678471586171146, 1.2016024595727),
 ('Japan', 1.2110755049008706, 0.00148938397628546, 0.0257402109531573),
 ('Kazakhstan', 4.556004270706594, 7.14542246268207, 12.39438011157),
 ('Kenya', 31.072331030517663, 0.0, 2.69254017703626),
 ('Kyrgyz Republic', 12.834473156492793, 0.0835022469161586, 8.47575873565404),
 ('Cambodia', 24.742664419658183, 0.0, 1.88821601546852),
 ('Kiribati', 26.32103314880277, 0.0, 0.0837321598234865),
 ('St. Kitts and Nevis', 0.9040476800075253, 0.0, 0.0),
 ('Korea, Rep.', 1.9275959229765633, 0.00018186232630142, 0.0288292844615382),
 ('Kuwait', 0.518517173990646, 31.6395331090364, 32.14700931784),
 ('Latin America & Caribbean (excluding high income)',
  5.064725784378264,
  0.9049910346818821,
  2.742384413019286),
 ('Lao PDR', 17.230310125730654, 0.0, 8.14329825198996),
 ('Lebanon', 2.90482522580596, 0.0, 0.00124700570787317),
 ('Liberia', 37.24218430142417, 0.0, 23.6957543967215),
 ('St. Lucia', 2.276122557009519, 0.0, 0.0260561476246869),
 ('Latin America & Caribbean',
  4.909526020421263,
  0.8210773262034482,
  3.0228180528289754),
 ('Least developed countries: UN classification',
  20.725639085943868,
  1.4041617046881498,
  7.706422533089981),
 ('Low income', 25.405048794432094, 0.527500090266179, 11.488974964785328),
 ('Sri Lanka', 7.426799695658809, 0.0, 0.14576344369222),
 ('Lower middle income',
  15.727925920790026,
  0.8214166742952442,
  3.0188623374704173),
 ('Low & middle income',
  8.800368851325285,
  1.2570182404623638,
  3.039916815633808),
 ('Lesotho', 5.868703946011767, 0.0, 6.34155784017227),
 ('Late-demographic dividend',
  6.243825151630589,
  1.3307083139364522,
  2.8646386677267954),
 ('Lithuania', 3.0773868041242567, 0.0206936311531024, 0.376167245030673),
 ('Luxembourg', 0.22406794600862076, 0.0, 0.0123391873166284),
 ('Latvia', 3.2055323651766168, 0.0, 1.02146488682994),
 ('Morocco', 11.992987088072821, 0.00734429099811984, 2.21154982747087),
 ('Moldova', 11.398680905542859, 0.0106009498984845, 0.338682229435703),
 ('Madagascar', 21.435427580311707, 0.070962924756905, 11.3136579242614),
 ('Maldives', 5.63055922865899, 0.0, 0.00651237218707095),
 ('Middle East & North Africa',
  5.222582952357216,
  11.672782424946163,
  12.724314268306717),
 ('Mexico', 3.3495482956559313, 1.22231546698048, 2.27687540799917),
 ('Middle income', 8.558861886611982, 1.2678942270744262, 2.9139598007044856),
 ('North Macedonia', 9.172740187795796, 0.0, 1.32477068348259),
 ('Mali', 38.36770117293554, 0.0, 12.3975444697772),
 ('Malta', 1.2177052462917697, 0.0, 0.0),
 ('Myanmar', 25.46850930653024, 0.140039313945452, 6.76680328705194),
 ('Middle East & North Africa (excluding high income)',
  9.432227475191253,
  9.4099035122965,
  10.753694234584366),
 ('Montenegro', 7.468238931043657, 0.0, 1.02552012174457),
 ('Mongolia', 11.689379740094445, 1.50768596064632, 25.1766877724598),
 ('Mozambique', 22.617990332861478, 0.0718864016869681, 17.586873625424),
 ('Mauritania', 23.990174238360314, 0.574155646295482, 20.8409899139943),
 ('Mauritius', 3.1879291111290007, 0.0, 0.0035858075149238),
 ('Malawi', 25.927043412502083, 0.0, 11.0400871594904),
 ('Malaysia', 8.653636821497619, 1.70721408923844, 5.51004812403832),
 ('North America',
  0.9404041258902743,
  0.12099741905946282,
  0.3984651912039852),
 ('Namibia', 6.1099193219629, 0.0, 4.08418959077604),
 ('Niger', 38.784208622336806, 1.32865069007167, 13.4237754609891),
 ('Nigeria', 20.98310970708386, 2.80315186620359, 4.85953257944401),
 ('Nicaragua', 14.91533922806487, 0.0, 3.64660278076374),
 ('Netherlands', 1.7665320320694808, 0.0147968827427182, 0.287370136677993),
 ('Norway', 2.0781291676070497, 2.68045202352207, 4.12916051005295),
 ('Nepal', 29.149198321287102, 0.0, 1.30402436784621),
 ('New Zealand', 6.569405277609993, 0.132358845650848, 1.01123283456193),
 ('OECD members', 1.4018619817242217, 0.12211895394048548, 0.531559343008499),
 ('Oman', 2.261925890867499, 18.1572808195077, 19.6681358310956),
 ('Other small states',
  2.1684944734295097,
  6.0795261804625635,
  8.785316778106854),
 ('Pakistan', 23.21519878862139, 0.222395497569042, 0.931522432594147),
 ('Panama', 2.6019020801413446, 0.0, 0.208336675571895),
 ('Peru', 6.934617041347399, 0.1256304852351, 7.33982093256097),
 ('Philippines', 9.655243644800592, 0.0391825494602191, 1.23082396059779),
 ('Papua New Guinea', 17.86645058819369, 2.11855823963381, 22.3525944856248),
 ('Poland', 2.3807272211452077, 0.0256294906170659, 0.833352646086302),
 ('Pre-demographic dividend',
  18.53519426126488,
  6.648232231593088,
  11.397272523397705),
 ('Puerto Rico', 0.8056609035938457, 0.0, 0.0),
 ('Portugal', 1.9535366739326474, 0.0, 0.266921210312641),
 ('Paraguay', 10.751280663068288, 0.0, 1.6907252774463),
 ('West Bank and Gaza', 3.15588758872908, 0.0, 0.0),
 ('Post-demographic dividend',
  1.2823988702172018,
  0.0998290574070668,
  0.4431361853425163),
 ('Qatar', 0.18395632847792434, 11.7319729376991, 15.3525769375945),
 ('Romania', 4.061738615152299, 0.242022112578794, 0.683527636307942),
 ('Russian Federation', 3.850752543198157, 5.15665147409848, 8.84101627905183),
 ('Rwanda', 29.309524940678088, 0.0, 6.25756910596294),
 ('South Asia', 16.677326269172156, 0.20663215852435607, 1.6002012960930947),
 ('Saudi Arabia', 2.6856223948614106, 19.4340646424676, 20.0307232027133),
 ('Sudan', 31.199986859373396, 0.654514580073126, 4.73814835917226),
 ('Senegal', 14.414095042274491, 0.0, 4.47389256730418),
 ('Singapore', 0.03092772243609409, 0.0, 0.000441298086630097),
 ('Sierra Leone', 58.2087413276203, 0.0, 12.4010077549198),
 ('El Salvador', 5.6309234201038985, 0.0, 0.968815286543779),
 ('Serbia', 6.8020967673049535, 0.0848943752170124, 1.15987350901151),
 ('Sub-Saharan Africa (excluding high income)',
  15.588027472424832,
  1.91557058112963,
  7.716042675266795),
 ('South Sudan', 11.409510313588852, 31.3256988431085, 42.3842576816703),
 ('Sub-Saharan Africa',
  15.576931083523162,
  1.9137999043579907,
  7.709017196703176),
 ('Small states', 2.561589651519239, 5.153486738207048, 8.05484379021987),
 ('Sao Tome and Principe', 11.674426159629654, 0.0, 3.21501015950376),
 ('Suriname', 9.874790895726669, 3.05642690708214, 30.2150774579947),
 ('Slovak Republic', 3.363173792730322, 0.0276053096550565, 0.331356255879839),
 ('Slovenia', 1.94541386957645, 6.73235334280392e-05, 0.272818743626117),
 ('Sweden', 1.1204659357878934, 0.0, 0.435390625305478),
 ('Eswatini', 8.954987535944493, 0.0, 2.90653599504018),
 ('Seychelles', 2.0096416881317514, 0.0, 0.115671862040526),
 ('Chad', 46.125803114973266, 6.75814048494101, 13.1923632711543),
 ('East Asia & Pacific (IDA & IBRD countries)',
  8.952104331463849,
  0.33453149124305637,
  1.602927600761477),
 ('Europe & Central Asia (IDA & IBRD countries)',
  5.07987653960034,
  2.416370298382402,
  4.683813328735532),
 ('Togo', 26.393074000497307, 0.0, 18.4851497008428),
 ('Thailand', 8.450686516378465, 0.44884033590213, 1.59833062567597),
 ('Tajikistan', 20.376070823490114, 0.031433886788238, 4.32698215156752),
 ('Latin America & the Caribbean (IDA & IBRD countries)',
  5.001665348429446,
  0.8537607768285527,
  3.149666774926593),
 ('Timor-Leste', 10.738060632753509, 14.0616663909423, 33.3458224786896),
 ('Middle East & North Africa (IDA & IBRD countries)',
  9.479449047384255,
  9.501659477685797,
  10.858553502769869),
 ('Tonga', 17.21191680719505, 0.0, 0.0488054058355412),
 ('South Asia (IDA & IBRD)',
  16.677326269172152,
  0.20663215852435607,
  1.600201296093095),
 ('Sub-Saharan Africa (IDA & IBRD countries)',
  15.576931083523156,
  1.9137999043579907,
  7.709017196703176),
 ('Trinidad and Tobago',
  0.48729425612088634,
  1.8876338686989,
  4.9856075798747),
 ('Tunisia', 9.458667949454593, 1.31620511797813, 2.29854776301807),
 ('Turkey', 6.183746426003552, 0.0360994346831086, 0.301415549418452),
 ('Tanzania', 27.44414257177542, 0.0, 6.80783958174399),
 ('Uganda', 23.654345187044807, 0.0, 14.6257742826054),
 ('Ukraine', 11.72570090891674, 0.207395435575086, 3.60927697365416),
 ('Upper middle income',
  6.517354987677729,
  1.4004515264479382,
  2.882897322756148),
 ('Uruguay', 5.891939729719335, 0.0, 1.75926680962351),
 ('United States', 0.9404041258902743, 0.0924501121124429, 0.331561842164395),
 ('Uzbekistan', 30.837260291749402, 0.472338157072526, 8.81019218717069),
 ('St. Vincent and the Grenadines',
  6.916964752741424,
  0.0,
  0.0406170137598295),
 ('Vietnam', 16.319644091710522, 1.07062060284252, 2.62364711017469),
 ('World', 3.5137525607146554, 0.8092610836558759, 1.702281517828828),
 ('Samoa', 9.586428480755005, 0.0, 0.470401526593443),
 ('Kosovo', 10.461837531506893, 0.0, 0.640825758013501),
 ('Yemen, Rep.', 7.083503789341138, 0.590562838895471, 0.636945313866103),
 ('South Africa', 2.2240574802824464, 0.00513507463815198, 5.05524636968572),
 ('Zambia', 6.228470416200056, 0.0, 15.3295510754497),
 ('Zimbabwe', 7.87398582101493, 0.0, 6.73774789012326)]

In [494]:
stmt = "INSERT INTO resource_data (country, GDP_Ag_and_Forest, petro_income, resource_income) VALUES (%s, %s, %s, %s)"
cur.executemany(stmt, data1)

In [495]:
cnx.commit()

In [496]:
cnx.close()